# General part of the gitignore
*.launch
*.orig
*.bak
.vscode/
**/GNU ARM v*
**/.projectlinkstore
**/.settings
**/.makefile
**/.trash
**/.uceditor
**/autogen/**/*.crc
**/__pycache__
**/GNU ARM v*
**/IAR ARM*
**/sonar-bw/
**/.DS_Store
**/.clangd
**/compile_commands.json
projects/*/build/
projects/*/cmake_*/build/
**/.cursor

##Enable these if you are not tracking Simplicity studio project
# **/.cproject
# **/.project
# **/.pdm

## Documentation related ignores.
## Modify them if it is necessary
*.docx
*.doc
*.ppt
*.pdf
*.xlsx
*.xls
*.html
